[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
ruff = "*"

[requires]
python_version = "3.10"

[scripts]
test = "python -W ignore -m unittest discover -v tests"
lint = "python -m ruff check"
format = "python -m ruff format"
typecheck = "python -m mypy ."
